*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block{
  display: flex;
  height:8rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  color : black;
  font-size: 5rem;
}

.row{
  display: flex;
  border: 4px solid black;
}

.borderRightLeft{
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .heading{
  padding: 10px 0px 20px 0px;
}

.message{
  margin-top: 10px;
  padding-bottom: 20px;
  height: 65px;
}

.boards{
  max-width: 100%;
}

.outerContainer{
  display: flex;
  justify-content: space-around;
}

ul{
  width: 150px;
  margin-left: 20px;
  list-style: none;
}

li button{
  padding: 5px 10px;
  margin: 5px 10px;
}

/* mobile*/
@media (max-width:530px){
.outerContainer{
  flex-direction: column;
}
ul{
  padding-top:20px;
  width: 100%;
}
.message{
  padding-bottom:10px
}
.outerContainer{
  max-width:100%;
}
}